/* App.css */
.app-container {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  width: 100%;
  max-width: 1400px; /* Increased max-width for a more spacious layout */
  margin: 0 auto;
  padding: 24px;
}

/* Responsive padding for smaller screens */
@media (max-width: 600px) {
  .content-wrapper {
    padding: 16px;
  }
}

a,
Link {
  text-decoration: none;
  color: inherit;
  text-decoration-line: none;
}